*{
  padding: 0px;
  margin:0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
button{
  display: block;
  margin:1em auto;
}
.App {
  text-align: center;
}

.name{
  color:red;
}

.colorchange{
  color: green;
}

.form>*{
  display: block;
}