*{
  padding: 0px;
  margin:0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin:2;
}

.name{
  color:red;
}

.colorchange{
  color: green;
}

.form>*{
  display: block;
}